.submitButton {
    float: right;
    background-color: red;
    color: white;
    border: none;
    font-size: 24px;
    padding: 14px 16px;
    width: 25%;
    margin-top: 20px;
}
.submitForm {
    float: right;
    padding: 14px 16px;
    margin: auto;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    background-color: white;
    transition: top 1s;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  }
.tasiyici {
    align-items: center;
    margin: 150px;

}